.App {
  text-align: center;
  justify-content:center;
  align-items: center;
}

.form {
  width: 40%;
  padding: 40px;
  border: 2px solid rgb(0, 0, 0);
  margin: 40px auto;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.field {
  width: 80%;
  padding: 10px;
  margin-bottom: 16px;
}

button {
  padding: 6px 24px;
  background-color: transparent;
}

.label {
  width: 80px;
}

.label::first-letter {
  text-transform: uppercase;
}

select {
  padding: 6px 24px;
  min-width: 300px;
}

.input {
  padding: 6px;
  min-width: 300px;
}

.checkbox {
  min-width: 30px;
  height: 20px;
}

textarea {
  padding: 6px;
  min-width: 300px;
}

.form-container {
  justify-content: center;
}

.del-icon {
  color: red;
  padding: 6px;
  font-size: 12px;
}

.alert-mg {
  font-size: 22px;
  font-weight: 500;
}



@media only screen and (max-width: 1350px) {
  .form {
    width: 60%;
  }
}

@media only screen and (max-width: 950px) {
  .form {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}